{% extends 'pizza/base.html' %}
{% block 'body' %}
    {% load widget_tweaks %}
    <div class="container">

    
        <h1>Django Form</h1>

        <h2>{{ note }}</h2>
        {% if created_order_pk %}
        <a href="{% url 'edit_order' created_order_pk %}">Edit Your Order</a>
        {% endif %}

        <!-- <form enctype="multipart/form-data" action="{% url 'order' %}" method="post" novalidate> -->
        <form action="{% url 'order' %}" method="post"><!-- default action is current url. Good practice to always mention even if it's default -->
            {% csrf_token %}
            <!-- {{ orderform.as_p }} -->
            <!-- {{ orderform }} -->
            {% for field in orderform %}
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %} <!-- Adding custom class with help of widget_tweaks -->
            </div>
            {% endfor %}
            <!-- {{ orderform.item1.errors }}
            {{ orderform.item1.label_tag }}
            {{ orderform.item1 }}

            {{ orderform.item2.errors }}
            {{ orderform.item2.label_tag }}
            {{ orderform.item2 }}
            <br/><br/><br/><br/>
            {{ orderform.size.errors }}
            <label for="{{ orderform.size.id_for_label }}">
                Size for item:
            </label>
            {{ orderform.size }} -->

            <!--<label for="item1">Item 1: </label> The for tag is for accessibility 
            <input id="item1" type="text" name="item1">
            <label for="item2">Item 2: </label> The for tag is for accessibility 
            <input id="item2" type="text" name="item2">
            <label for="size">Size </label> The for tag is for accessibility 
            <select id="size" name="size">
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select>-->
            <input type="submit" value="Submit Form">
        </form>

        <br/><br/>

        Want more than one items?

        <form action="{% url 'items' %}" method="get">
            {{ multiple_form }}
            <input type="submit" value="Get Items">
        </form>

    </div>

{% endblock %}